<ion-header>
  <ion-toolbar>
    <ion-title>createShoppingKart</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-dynamic-form [questions]="kartFields" (interactiveSubmit)="filter($event)" (singleSubmit)="submit($event)"></app-dynamic-form>
    <app-selector-items [text]="textSelectSupplier" [service]="supplierService" 
    (selectedItem)="selectedSupplier($event)" [sorterFunction]="supplierSorterFunction" 
    [filterFunction]= "supplierFilterFunction" (selectedItem)="selectedSupplier($event)"
    ></app-selector-items>
    <app-selector-items [text]="textSelectPayment" [service]="paymentsService" (selectedItem)="selectedPayment($event)" ></app-selector-items>

    <ion-button  (click)="addPurchase()"><ion-icon name='basket' ></ion-icon></ion-button>
  <div class="spinner" [style.display]="showSpinner ? 'block' : 'none'">
      <div class="loader">
          <div class="face">
            <div class="circle"></div>
          </div>
          <div class="face">
            <div class="circle"></div>
          </div>
        </div>
    </div>
    <div class='purchaseList'>
      <ion-list>
        <ion-item *ngFor="let purchase of kart.items">
          <article (click)="detailPurchase(purchase)">
            <h1>{{purchase.descrizione}}</h1>
            <h3 slot="end">{{purchase.moneta}}{{purchase.prezzo}}</h3>
            <app-categories-viewer [categorie]="purchase.categorie"[categoryIcon]="categoryIcon" [categoryColor]="categoryColor"></app-categories-viewer>
          </article>
        </ion-item>
      </ion-list>

    <app-total [items]="kart?.items" (total)="setTotal($event)"></app-total>
    </div>

</ion-content>
