<p class="counter">{{ countItems() }}{{ dummyItem?.getCountingText() }}</p>
<div class="lds-css ng-scope">
  <div class="lds-gear"
  [style.display]="showGear ? 'block' : 'none'"
   style="width:50%;height:50%"><div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
  <style type="text/css">@keyframes lds-gear {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-gear {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .lds-gear > div {
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
    -webkit-animation: lds-gear 1s infinite linear;
    animation: lds-gear 1s infinite linear;
    position: relative;
  }
  .lds-gear > div div {
    position: absolute;
    width: 26px;
    height: 192px;
    background: #fcb711;
    left: 100px;
    top: 100px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .lds-gear > div div:nth-child(1) {
    width: 152px;
    height: 152px;
    border-radius: 50%;
  }
  .lds-gear > div div:nth-child(3) {
    -webkit-transform: translate(-50%, -50%) rotate(30deg);
    transform: translate(-50%, -50%) rotate(30deg);
  }
  .lds-gear > div div:nth-child(4) {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
    transform: translate(-50%, -50%) rotate(60deg);
  }
  .lds-gear > div div:nth-child(5) {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .lds-gear > div div:nth-child(6) {
    -webkit-transform: translate(-50%, -50%) rotate(120deg);
    transform: translate(-50%, -50%) rotate(120deg);
  }
  .lds-gear > div div:nth-child(7) {
    -webkit-transform: translate(-50%, -50%) rotate(150deg);
    transform: translate(-50%, -50%) rotate(150deg);
  }
  .lds-gear > div div:nth-child(8) {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
  }
  .lds-gear {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(0.5) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(0.5) translate(100px, 100px);
  }
  </style></div>
<ion-list>
  <div></div>
  <div class="spinner" [style.display]="showSpinner ? 'block' : 'none'">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <ion-item-sliding
    *ngFor="let item of items_list | filterItems: filterFunction| sorterItems: sorterFunction"
    #sliding_item
  >
    <app-page-item [Item]="item" [Service]="service"></app-page-item>

    <ion-item-options side="start">
      <ion-button
      ion-button
      danger
      color="danger"
        (click)="deleteItem(item, sliding_item)"
      >
        <ion-icon name="trash"></ion-icon>
        Elimina
      </ion-button>
    </ion-item-options>
    <ion-item-options side='end'>
      <ion-button
      ion-button
      (click)="updateItem(item,sliding_item)"
      >
      <ion-icon name='eye'></ion-icon>
      Modifica
      </ion-button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-fab class="addItem" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="createItem()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
