<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <div slot="end">
    <app-network-monitor></app-network-monitor>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/home.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Balance</ion-card-subtitle>
      </ion-card-header>

    <a href="https://www.pexels.com/photo/closeup-photography-of-stacked-stones-1051449/">riconoscimenti </a>
    </ion-card>

</ion-content>
